@import 'variables';

$darkenAmount: 4;

.base-input {
  width: 100%;
  height: $controlHeight;
  box-sizing: border-box;
  padding: 0 $gap;
  line-height: $controlHeight;
  font-size: $controlFontSize;
  border: 1px solid lightgray;
  border-radius: $borderRadius;

  &--invalid {
    border-color: $colorDanger;
    background-color: lighten($colorDanger, 44);
  }

  &[disabled], &[readonly] {
    background-color: lighten(lightgray, 15);
  }
}

.base-button {
  font-family: $baseFontFamily;
  height: $controlHeight;
  box-sizing: border-box;
  border: 1px solid transparent;
  line-height: $controlHeight;
  padding: 0 1.5*$gap;
  font-size: $controlFontSize;
  min-width: 70px;
  cursor: pointer;
  border-radius: $borderRadius;

  &--success {
    background-color: $colorSuccess;
    border-color: $colorSuccess;
    color: $colorWhite;

    &:hover {
      background-color: darken($colorSuccess, $darkenAmount);
      border-color: darken($colorSuccess, $darkenAmount);
    }
  }

  &--danger {
    background-color: $colorDanger;
    border-color: $colorDanger;
    color: $colorWhite;

    &:hover {
      background-color: darken($colorDanger, $darkenAmount);
      border-color: darken($colorDanger, $darkenAmount);
    }
  }

  &--light {
    background-color: $colorLight;
    border-color: darken($colorLight, 8);
    color: $colorBlack;

    &:hover {
      background-color: darken($colorLight, $darkenAmount);
      border-color: darken($colorLight, 10);
    }
  }
}

.base-label {
  $g: &;

  line-height: 1;
  font-family: $baseFontFamily;
  margin: 0;
  padding: 0 0 $gap 0;
  display: block;
  font-size: $controlFontSize;

  &--inline {
    padding: 0;
    line-height: $controlHeight;

    input {
      vertical-align: middle;
    }

    #{$g}__text {
      vertical-align: middle;
    }
  }
}

.base-text {
  line-height: 1.2;
  font-family: $baseFontFamily;
  font-size: $textFontSize;
}

.base-error {
  line-height: 1.2;
  font-family: $baseFontFamily;
  font-size: $textFontSize;
  color: $colorDanger;
}
