@import 'variables';
@import 'mixins/clearfix';

body {
  padding: 0;
  margin: 0;
}

body {
  overscroll-behavior-y: contain; // disable pull to refresh in PWA
}

.page-container {
  max-width: $pageWidthMax;
  margin: 0 auto;
  padding: $gap;
}

.v-list {
  &__item {
    padding-top: $gap;

    &--4xgap {
      padding-top: $gap*4;
    }

    &:first-child {
      padding-top: 0;
    }
  }
}

.h-list {
  &__item {
    display: inline-block;
    padding-left: $gap;

    &:first-child {
      padding-left: 0;
    }
  }

  &--pull-right {
    text-align: right;
  }
}

.trailing-block {
  display: flex;

  &__body {
    flex-grow: 1;

  }

  &__tail {
    padding-left: $gap;
  }
}

.panel {
  $g: &;

  background-color: $colorLight;
  border-radius: $borderRadius;
  border: 1px solid darken($colorLight, 10);
  padding: $gap;
  font-size: $textFontSize;
  position: relative;

  &__drag-helper {
    width: 0;
    height: 0;
    border-top: $gap*1.8 solid darken($colorLight, 10);
    border-right: $gap*1.8 solid transparent;
    position: absolute;
    top:0;
    left: 0;
    cursor: move;
  }

  &__text {
    font-family: $baseFontFamily;
  }

  &--info {
    background-color: lighten($colorInfo, 73);
    border-color: lighten($colorInfo, 40);

    #{$g}__text {
      color: $colorInfo;
    }
  }

  &--danger {
    background-color: lighten($colorDanger, 43);
    border-color: lighten($colorDanger, 30);

    #{$g}__text {
      color: $colorDanger;
    }
  }
}
