@import '../../styles/variables';

.list-item {
  &__title {
    font-family: $baseFontFamily;
    font-size: $controlFontSize;
    line-height: $controlHeight;
    cursor: pointer;
  }

  &__actions {

  }
}
