@import '../../styles/variables';

.list-item {
  &__title-wrapper {
    display: table;
    min-height: $controlHeight;
  }

  &__drag-helper {
    width: 14px;
    display: table-cell;
    border-left: 4px solid lightgray;
    cursor: move;

    &.drag-state--drag {
      border-left-color: $dragStateColor;
    }
  }

  &__title {
    font-family: $baseFontFamily;
    font-size: $controlFontSize;
    line-height: $controlHeight / 2;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    word-break: break-word;
  }

  &__title-hint {
    color: #a4a4a4;
  }

  &__actions {
  }
}
